
.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    z-index: 1;
    position: fixed;
    transition-timing-function: ease-out;
    transition: 1s;
    position: fixed;
    left: 0;

}

.menu-icon {
    width: 30px;
    height: 30px;
    z-index: 2;
    position: fixed;
    left: 20px;
    top: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 120px;
    background: #0f2833;
    padding: 100px 35px; 
    /*border-top: 10px solid #020c15;
    border-right: 10px solid #020c15;
    border-bottom: 10px solid #020c15;
    border-left: 2px solid #020c15;*/
    box-shadow: 13px 13px 42px -13px rgba(0,0,0,0.75);
     -webkit-transition: 2s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 2s linear;
   -o-transition: 2s linear;
   transition: 2s linear;
}

.menu a {
    line-height: 17px;
}

.line {
    border-bottom: 1px solid white;
    width: 40px;
}

.view-container {
    width: 100%;
}

@media(min-width: 640px) {
    .menu-icon {
    left: 40px;
    top: 40px;
}



}
