
.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    z-index: 1;
    position: fixed;
    transition-timing-function: ease-out;
    transition: 1s;
}



.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    width: 120px;
    background: #0f2833;
    padding: 30px 25px; 
    /*border-top: 10px solid #020c15;
    border-right: 10px solid #020c15;
    border-bottom: 10px solid #020c15;
    border-left: 2px solid #020c15;*/
    box-shadow: 13px 13px 42px -13px rgba(0,0,0,0.75);
}

.menu a {
    line-height: 17px;
}

.line {
    border-bottom: 1px solid white;
    width: 40px;
}

.view-container {
    width: 100%;
}
