<!DOCTYPE html>
<html lang="en" ng-app="trailsApp">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/reset.css" rel="stylesheet">        
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/styles/chart.css" rel="stylesheet">
        
       
    </head>
    <body ng-controller='mainCtrl'>
        <input type="text" ng-model='numOfTrail'>
        <button ng-click='getTrail(numOfTrail)'></button>

        
    
  


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script src="/js/trailsApp.js"></script>
    <script src="/js/mainCtrl.js"></script>
    <script src="/js/services/mainSvc.js"></script>    
    <script src="/js/services/polylineSvc.js"></script>        
    <script src="/js/services/elevationSvc.js"></script>
    <script src="/js/directives/chart.js"></script> 
    
    </body>
</html>