<div class="choose-trail-container">

        <h1>FIND</h1>
        <h1>YOUR</h1>        
        <h1 class="header-text">TRAIL</h1>   

        <div class="quote-container-2">

        <div class="long-line"></div>
        <h2>In every walk with nature one receives far more than he seeks.</h2>
        <h3>- JOHN MUIR</h3>
        <div class="long-line"></div>
        
        </div>


    <div class="button-container">
        <a ui-sref="trailListing" class="choose-button">SEARCH HERE</a>        
    </div>
</div>