
<div class="menu-container">
<img class='menu-icon' src="../../img/menu.svg" alt="menu icon" ng-click='showMe = !showMe'/>
        <div class="menu" ng-show='showMe'>
            <a ui-sref='home' ng-click='showMe = !showMe'>HOME</a>
            <div class="line"></div>
            <a ui-sref='chooseTrail' ng-click='showMe = !showMe'>CHOOSE YOUR TRAIL</a>
            <div class="line"></div>
            <a ng-click='showMe = !showMe' href='https://utah.com/national-parks'>ABOUT UTAH</a>
        </div>
    </div>